p {
    color: rgb(4, 128, 54);
}
.important {
    color: rgb(240, 81, 28);
}
#ringo {
    color: #f51770;
}
#banana {
    color: #c0e92c;
}
#momo {
    color: #e334c0;
    margin-bottom: 160px;
}
h2 {
    margin-bottom: 100px;
}